{% extends 'base.html' %} 
{% load static %}
{% block content %}
<br>
<h1 class="btn btn-secondary" style="width:70%; margin-left:15%; background-color:rgba(108, 122, 137)">BLOGs!</h1>
<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col-10 p-1">
      <div class="d-flex flex-wrap justify-content-center pt-3">
        {% for post in data %}
        <div class="col-sm-4">
          <div class="card m-2">
            <div class="card-body">
              <img src="{{ post.image.url }}" class="card-img-top" alt="...">
              <h5 class="card-title">
                <a href="{% url 'detail_post' post.id %}" class="text-decoration-none text-dark" target="_blank">{{ post.title }}</a>
              </h5>
              <p class="card-text">{{ post.content|truncatewords:10 }}</p>
              <p>Author: {{ post.author.first_name }} {{ post.author.last_name }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
