{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
<div class="d-flex justify-content-center align-items-center vh-60">
  <div class="row w-100 justify-content-center">
    <div class="col-md-6 d-flex flex-column justify-content-center">
      <h1 class="text-center">Welcome to SkillSync</h1>
      <h4 class="text-center mb-4">---Build your Portfolio</h4>
      <strong><p class="text-center">
        SkillSync is a versatile portfolio publishing and editing platform,
        tailored to highlight an admin's professional achievements, skills, and
        insights. The partition of roles enhances.
      </p></strong>
    </div>
  </div>
</div>
<div class="container">
  <div class="d-flex justify-content-center">
    <h1>Blogs You Can Overview!</h1>
    <div class="col-10 p-3">
      <div class="d-flex flex-wrap justify-content-center pt-5">
        {% for post in data %}
        <div class="col-sm-4">
          <div class="card m-2">
            <div class="card-body">
              <img src="{{ post.image.url }}" class="card-img-top" alt="...">
              <h5 class="card-title">
                <a href="{% url 'detail_post' post.id %}" class="text-decoration-none text-dark" target="_blank">{{ post.title }}</a>
              </h5>
              <p class="card-text">{{ post.content|truncatewords:10 }}</p>
              <p>Author: {{ post.author.first_name }} {{ post.author.last_name }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
