{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center">
                <h1>Welcome to SkillSync</h1>
                <h4 class="mb-4">---Build your Portfolio</h4>
                <p>
                    SkillSync is a versatile portfolio publishing and editing platform,
                    tailored to highlight an admin's professional achievements, skills, and
                    insights. The pation of roles enhances.
                </p>
                <p>
                    Security and integrity of the admin's content. The platform also includes
                    a project showcase feature, allowing the admin to add and organize
                    projects with detailed information such as titles, descriptions, and images. Each project has a detailed
                    page that provides comprehensive write-ups and social media links, along with a contact form for
                    inquiries or messages.
                </p>
                <p>
                    SkillSync displays projects sorted by rating, helping
                    viewers to identify the most acclaimed work quickly. Finally, the platform
                    is designed for deployment on a secure and scalable hosting platform,
                    ensuring that the portfolio is accessible and performs well under various
                    conditions.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
